  UW PICO 5.09                                                                                                            New Buffer

# Node
node_modules/
.next/

# Python
__pycache__/
*.pyc
venv/

# Env
.env
.env.local

# OS
.DS_Store






















































                                                                                                                 [ Read 8 lines ]
^G Get Help                             ^O WriteOut                             ^R Read File                            ^Y Prev Pg                              ^K Cut Text                             ^C Cur Pos
^X Exit                                 ^J Justify                              ^W Where is                             ^V Next Pg                              ^U UnCut Text                           ^T To Spell
  UW PICO 5.09                                                                                                         File: .gitignore

venv/
.venv/
__pycache__/
*.pyc
.env
.env.local
test.db
node_modules/
















































^G Get Help                             ^O WriteOut                             ^R Read File                            ^Y Prev Pg                              ^K Cut Text                             ^C Cur Pos
^X Exit                                 ^J Justify                              ^W Where is                             ^V Next Pg                              ^U UnCut Text                           ^T To Spell
